/*importamos los archivos*/
@import 'variables';
@import 'mixins';
@import 'cards';

body{
    font-family: $fonts; /*Uso de variables*/
    background-color: $primary-color;
    padding: $spacing;
    min-height: 100vh;
    @include flex-center(); /*Usando las funciones de mixins*/
}